@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Rock Salt", cursive;
  display: grid;
  background: url("background.jpg") no-repeat center;
  background-size: cover;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
  color: #60bfbf;
  min-height: 100vh;
  max-width: 100vw;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
}
section {
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  padding: 10px 40px;
  margin: 10px;
  max-width: 1000px;
}
header {
  grid-area: header;
  justify-items: center;
}
h2 {
  margin-top: 20px;
}
main {
  grid-area: main;
}
footer {
  grid-area: footer;
  padding: 20px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
}
button,
footer {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
input {
  height: 50px;
  max-width: 400px;
  font-size: 2em;
  border: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  border-radius: 8px;
}
::placeholder {
  font-family: "Rock Salt", cursive;
  font-size: 0.7em;
  text-align: center;
  opacity: 0.4;
}
/* .input-button {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: center;
} */
button {
  border: none;
  padding: 1em;
  font-weight: bold;
  color: white;
  width: 120px;
  height: 50px;
  border-radius: 8px;
}
.add {
  background-color: #60bfbf;
  transition: 1s ease-in;
  font-size: 1em;
}
.reset {
  background-color: #f2b3b9;
  color: white;

  margin-top: 20px;
}
header {
  display: grid;
  grid-template-rows: auto auto;
  gap: 10px;
}

.hidden {
  display: none;
}
.delete {
  background-color: none;
  border-radius: 0px;
  border: none;
  padding: 0em;
  cursor: pointer;
}
.div-list {
  border-radius: 8px;
  margin-bottom: 20px;
  margin-top: 20px;
  color: white;
  font-size: 1.2em;
  border-bottom: 3px solid #f2b3b9;
  list-style-position: inside;
  padding: 5px;
  list-style-type: decimal;
}

/* .list-style {
  border-bottom: 1px solid #f2b3b9;
  list-style-position: inside;
  list-style: square;
  font-size: 2em;
} */
@media only screen and (max-width: 500px) {
  input {
    max-height: 50px;
    max-width: 300px;
  }
  main {
    font-size: 0.7em;
  }
  section {
    padding: 10px 30px;
    margin: 0;
  }
}
